#teams_profile.content_wrapper
  .container
    .wrapper
      %h1 List of Rails Rumble MMX Teams
      %ul.teams_list
        - for team in @teams
          - if team.thumbnail
            %li
              = link_to team do
                = image_tag team.thumbnail, :class => 'image'
                = team.name
%footer
  .container
    %h2 &nbsp;