#rubygem_profile
  .container
    .wrapper
      .span-7
        .image_wrapper
          = image_tag @team.thumbnail, :class => 'image'
    .span-17.last
      .info_wrapper
        .header
          %h1#team_name #{@team.name}
          .detail
            %span.level
          .clear
        .clear
        .left_column
          %strong.small_caps Description
          %p
          %hr
          %strong.small_caps Authors
          %h2
        .right_column
          %strong.small_caps Version
          %p
            %strong
          %hr
          %dl
            %dt
              %strong.small_caps Near Teams
            %dd
              %p YOOOO
        .clear
    .clear
.footer
  .container
    .gem_users
      %h3 See who is using this Team