@import "partials/login_form"
body
  .map
    text-align: center
  .new_users_list_wrapper
    ul
      +reset-box-model
      list-style: none
      li
        +reset-box-model
        +grad(#DDD,#AAA)
        +border-radius
        -webkit-box-shadow: #fff 0 1px 0 inset, rgba(#000,.5) 0 1px 0
        -moz-box-shadow: #fff 0 1px 0 inset, rgba(#000,.5) 0 1px 0
        margin-bottom: 12px
        padding: 8px
        &:hover
          +grad(#EEE,#999)
        &:active
          +grad(#AAA,#DDD)
        a:hover
          text-decoration: none
        .user_image
          float: left
          width: 56px
          img
            border: 1px solid rgba(#fff,.5)
        .user_info
          width: 100%
        img
          vertical-align: top
        span, time
          color: #444
          text-shadow: #fff 0 1px 0
        span
          &.username
            line-height: 1em
            font:
              size: 16px
              weight: 900
          &.location
            color: #666
            font:
              size: 14px
              weight: 500
        time.time
          float: right
          line-height: 42px
#home_stats
  .horizontal_bars
    +border-radius(6px)
    -webkit-box-shadow: rgba(#FFF,.5) 0 1px 0 inset, #FFF 0 1px 0
    -moz-box-shadow: rgba(#FFF,.5) 0 1px 0 inset, #FFF 0 1px 0
    border: 1px solid
    color: white
    padding: 2px 4px
    text-shadow: #000 0 0 2px
    &.railer_scores
      +grad(rgba(#D44,.8),rgba(#B22,.9))
      border-color: #B22
    &.downloads
      +grad(rgba(#4D4,.8),rgba(#2B2,.8))
      border-color: #2B2
    &.level_total
      +grad(rgba(#FB0,.8),rgba(#B50,.8))
      border-color: #B50
    &.country_total
      +grad(rgba(#0BF,.8),rgba(#05B,.8))
      border-color: #05B
    &.city_total
      +grad(rgba(#888,.8),rgba(#222,.8))
      border-color: #222
      