@import "partials/login_form"
body
  .map, .new_users_list_wrapper
    padding-top: 30px
  .map
    text-align: center
  .new_users_list_wrapper
    ul
      +reset-box-model
      list-style: none
      li
        +reset-box-model
        +grad(#DDD,#AAA)
        +border-radius
        -webkit-box-shadow: #fff 0 1px 0 inset, rgba(#000,.5) 0 1px 0
        margin-bottom: 8px
        padding: 4px
        .user_image
          float: left
          width: 52px
        .user_info
          width: 100%
        img
          vertical-align: top
        span, time
          text-shadow: #fff 0 1px 0
        span
          &.username
            font:
              size: 16px
              weight: 900
          &.location
            color: #666
            font:
              size: 13px
              weight: 500
        time.time
          float: right
          line-height: 42px