#rubygem_profile
  .rubygem_image
    margin-top: 30px
  .rubygem_info h2
    margin: 0
    line-height: 1.5em
  .left_column
    float: left
    width: 60%
  .right_column
    float: right
    width: 30%
    hr
      margin: .5em 0
.gem_users
  margin-top: 30px
  h3
    color: #BF2F2F
    font-weight: 900
    text-shadow: rgba(#ff0,.4) 0 1px 0
  .list_of_gem_users
    +reset-box-model
    list-style: none
    li
      margin: 0 10px 10px 0
      width: 250px
      display: inline-block
      .info
        +border-radius(4px)
        padding: 4px
        background: rgba(255,255,255,.5)
      img
        vertical-align: middle
      span.level
        float: right