body
  #rubygem_profile
    .gem_info
      +border-radius(1em)
      +box-shadow
      +grad(#FFF,#AAA)
      margin: 30px
      padding: 1em
      h1
        background: white
        padding: .25em .5em
        +border-radius(6px)
    span.download
      float: right
      font-size: 18px
      color: #777