#search_panel
  +border-radius(0 0 6px 6px)
  background: rgba(255,255,255,.8)
  padding: 2em 0
  height: 350px
  table
    +reset-box-model
    margin-bottom: 20px
    th, td
      +reset-box-model
      vertical-align: top
    th
      padding-right: 10px
      text-align: right
    td
      width: 200px
    img
      vertical-align: middle