#search_panel
  display: none
  +border-radius(0 0 6px 6px)
  background: white
  padding: 1em
  height: 350px
  table
    +reset-box-model
    margin-bottom: 20px
    th, td
      +reset-box-model
      vertical-align: top
    th
      padding-right: 10px
      text-align: right
    td
      width: 200px