body
  +blueprint(true)
  background: #E0E0E0
  article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary
    +reset-box-model
    display: block
  header
    +box-shadow
    width: 100%
    position: fixed
    top: 0
    left: 0
    height: 96px
    background: white
    form
      padding-top: 30px
      text-align: right
    nav
      text-align: right
      display: inline
    h1
      margin: 0
  #root
    margin-top: 130px
  h1, h2
    font-weight: 900
    text-shadow: #fff 0 1px 1px
    color: #AAA
  hr
    border-top: 1px solid #D0D0D0
    border-bottom: 1px solid #F0F0F0
    margin: 1em 0
  ::-moz-selection
    background: #b22 !important
    color: white !important
    text-shadow: none !important
  ::selection
    background: #b22 !important
    color: white !important
    text-shadow: none !important