body
  +blueprint(true)
  background: #E0E0E0
  article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary
    +reset-box-model
    display: block
  header
    width: 100%
    position: fixed
    top: 0
    left: 0
    height: 96px
    background: white
    nav
      text-align: right
      display: inline
    h1
      margin: 0
  #root
    margin-top: 96px
  h1
    font-weight: 900
    text-shadow: #fff 0 1px 0
    color: #AAA