#railer_profile
  .wrapper
    margin-top: 30px
  .profile_image
    width: 300px
    float: left
  .profile_info
    margin-left: 300px
    .profile_name
      float: left
      width: 80%
      margin-bottom: 10px
      h1
        +reset-box-model
        span
          font-family: $blueprint-fixed-font-family
    .profile_recommend
      float: left
      width: 20%
    .left_column
      float: left
      width: 38%
      background: green
    .right_column
      float: left
      width: 62%
      background: red