#railer_profile.content_wrapper
  .container
    .wrapper
      .info_wrapper
        .header
          %h1#user_name Sorry. No such profile.
          .clear
        .clear
        %br
        .center_column
          %h3{ :style => 'font-size: 48px;' }
            %strong{ :style => 'color:#000;' } Are you #{@login}?
          %button.yes_button
            %strong YES!
            %br
            %span And i wanna create my account.
          %a.no_button{:href => root_path}
            %strong No.
            %br
            %span Please take me home.
%footer
  .container
    %h2 &nbsp;