#railer_profile.content_wrapper
  .container
    .wrapper
      .info_wrapper
        .header
          %h1#user_name Sorry. No such profile.
          .clear
        .clear
        .center_column
          If you wanna create it, first #{link_to 'create this account on GitHub', 'https://github.com/signup/free', :target => :_blank}.
%footer
  .container
    %h2 &nbsp;