#railer_profile.content_wrapper
  .container
    .wrapper
      .profile_image
        &nbsp;
      .profile_info
        .header
          %h1#user_name Sorry. No such profile.
          .clear
        .clear
%footer
  .container
    %h2 