%header
  .container
    .span-6
      %h1= link_to image_tag('railerim_logo.png'), root_path
    .span-18.last
      %form
        %fieldset
          %nav= link_to 'Login','#'
          %input{:type => :search, :placeholder => 'Search'}
    .clear