#search_panel.hide{:style => 'z-index:5000000; position: relative;'}
  .close_search{:title => 'Close'} #{image_tag 'icons/minus-circle.png'} close
  %table
    %tr
      %th
        Best Match
      %td
        %ul#best_search_list
    %tr
      %th
        User
      %td
        %ul#users_search_list
    %tr
      %th Gems
      %td
        %ul#rubygems_search_list
    %tr
      %th Teams
      %td
        %ul#teams_search_list
    %tr
      %th Companies
      %td
        %ul#companies_search_list
    %tr
      %th Location
      %td
        %ul#locations_search_list
= javascript_include_tag 'jquery.timers-1.2', 'timedKeyup', 'search'
