@import "blueprint/reset"
@import "blueprint"
@import "blueprint/liquid"
@import "partials/base"
@import "partials/form"
body
  +blueprint(true)
  background: #E0E0E0
  header
    background: white
    nav
      text-align: right
  h1
    font-weight: 900
    text-shadow: #fff 0 1px 0
    color: #AAA