%h1 Search for railers, gems, companies »
%form
  -#.home
  %fieldset
    .input_wrapper
      %input#search{:type => :text, :placeholder => 'Search', :required => true}
      .button
        %strong Search
      .clear