= form_for User.new, :html => {:id => :signup, :class => :home} do |f|
  %fieldset
    .success_wrapper.hide
      %strong{:style=> 'color:white'} Your account was created successfully. Please check your email <span class="email"></span>.
    .input_wrapper
      = f.text_field :login, :id => :github_name_signup, :placeholder => 'github username', :required => true, :autocomplete => :off, :tabindex => 1
      .button
        %strong Signup
      .clear
    .message_wrapper.hide
      %strong{:style=> 'color:white'} We'll send you an email.
= javascript_include_tag 'signup'