%form.home
  %fieldset
    .input_wrapper
      %input#github_name_signup{:type => :text, :placeholder => 'github username', :required => true }
      .button
        %strong Signup
      .clear
= javascript_include_tag 'signup'