%h1 CREATE YOUR ACCOUNT

%form.home_signup
  %fieldset
    .input_wrapper
      %input{:type => :text, :placeholder => 'Github Account Name'}
      .submit_for_new_account
        %strong Signup
      .clear