#home
  .container
    .span-12.last
      %h1 Create »
      %h2 Share »
      %h3 Inspire »
    .span-12.showcase.prepend-top
      #{image_tag('plintscleef.png')}
    .clear
    = render ('home/signup')
.footer
  .container
    %h3 Worldwide live view
    .map.span-16
      #{image_tag 'placeholder_map.jpg'}
    .new_users_list_wrapper.span-8.last
      %ul
        - 6.times do
          %li
            .user_image #{image_tag 'default_user_image.png', :size => '48x48'}
            .user_info
              %time.time {time}
              %span.username {Username}
              %br
              %span.location {Location}
            .clear