#home.content_wrapper
  .container
    .home_wrapper{:style => 'max-width:1200px; margin: 0 auto;'}
      %h1 Good text that it's not lorem ipsum goes here
      .showcase{:style => 'text-align:right; margin-bottom: -5px;'}
        #{image_tag('plintscleef.png')}
      = render ('home/signup') unless current_user
%footer
  .container
    = render ('home/live')