#railer_profile.content_wrapper
  .container
    .wrapper
      .span-7
        %h1
          = image_tag "flags/#{@users.first.country_code.downcase}.png"
          #{@country} 
        - for user in @users
          = link_to user.name, profile_path(user)
          %br