.flash{ :style => 'display:none' }
  - for key,msg in flash
    %div{ :class => "#{key}_wrapper" }
      %div{ :class => key }
        = image_tag "shared/flash_#{key}.png", :style => 'vertical-align:middle'
        = msg
:javascript 
  $(function(){
    if($.browser.webkit){
      $('.flash').show()
    }else{
      setTimeout( function(){ $('.flash').slideDown('slow') }, 100)
    }
    if( ! $('.flash a').length) setTimeout( function(){ $('.flash').slideUp('slow') }, 8000)
  })
  $(window).click(function(){ $('.flash').slideUp() })